accelerate==0.20.3
aiohttp==3.8.6
aiosignal==1.3.1
albumentations==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.3
asynctest==0.13.0
attrs==22.2.0
backcall==0.2.0
bio==1.5.5
biopython==1.81
biothings-client==0.2.6
bleach==6.0.0
boto3==1.28.68
botocore==1.31.68
bpemb==0.3.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.7
cloudpickle==2.2.1
conllu==4.5.3
cycler==0.11.0
datasets==2.13.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
entrypoints==0.4
et-xmlfile==1.1.0
Farama-Notifications==0.0.4
fastjsonschema==2.16.2
filelock==3.12.2
flair==0.12.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
functional==0.4
future==0.18.3
gensim==4.2.0
gprofiler-official==1.0.0
graphviz==0.20.1
huggingface-hub==0.16.4
hyperopt==0.2.7
idna==3.4
imageio==2.27.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
Janome==0.5.0
jax-jumpy==1.0.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.5.1
jupyter-server==1.23.5
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langdetect==1.0.9
littleutils==0.2.2
lxml==4.9.3
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==2.0.5
mlxtend==0.21.0
more-itertools==9.1.0
mpld3==0.3
multidict==6.0.4
multiprocess==0.70.14
mygene==3.2.2
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.6.3
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
ogb==1.3.6
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
outdated==0.2.2
packaging==23.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
pptree==3.1
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
py4j==0.10.9.7
pyarrow==12.0.1
pycparser==2.21
pyfiglet==0.8.post1
pygad==2.19.2
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.7.1
pyswarm==0.6
pyswarms==1.3.0
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
pytz==2022.7.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
qudida==0.0.4
regex==2023.8.8
requests==2.28.2
s3transfer==0.7.0
safetensors==0.4.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
segtok==1.5.11
Send2Trash==1.8.0
sentencepiece==0.1.99
six==1.16.0
sko==0.5.7
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlitedict==2.1.0
tabulate==0.9.0
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
tld==0.13
tokenizers==0.13.3
torch==1.13.1
torchsummary==1.5.1
torchtext==0.14.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformer-smaller-training-vocab==0.2.4
transformers==4.30.2
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.5
wrapt==1.15.0
xxhash==3.4.1
yarl==1.9.2
zipp==3.13.0